.conteiner {
    width: 1200px;
   	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    justify-items: center;
    align-items: center;


    
    


}